<%- include('../../partials/user/nav'); -%>



<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Hot Deals</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Laptops</a></li>
                <li><a href="#">Smartphones</a></li>
                <li><a href="#">Cameras</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->




<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<div class="page">
    <section class="shopping-cart dark">
        <div class="container">
           <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            <% products.forEach((val, ind) => { %>
                                <div class="product">
                                    <div class="row ">
                                        <div class="col-md-3 flex-custom">
                                            <img class="img-fluid mx-auto d-block image" style="height: 100px;" src="/uploads/products/<%= val.images[0] %>">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="info">
                                                <div class="row" style="
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        flex-direction: row;
                                                    ">
                                                    <div class="col-md-4 product-name">
                                                        <div class="product-name">
                                                            <a href="/product?id=<%= val._id %>" target="_blank"><%= val.name %></a>
                                                            <!-- <div class="product-info">
                                                                <div>Display: <span class="value">5 inch</span></div>
                                                                <div>RAM: <span class="value">4GB</span></div>
                                                                <div>Memory: <span class="value">32GB</span></div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 quantity">
                                                        <label for="quantity">Quantity:</label>
                                                        <input id="quantity" type="number" value ="<%= cart.items[ind].quantity %>" class="form-control quantity-input">
                                                    </div>
                                                    <div class="col-md-4 price" style="margin-top: -35px;">
                                                        <span>₹ <%= new Intl.NumberFormat('en-IN').format(cart.items[ind].price) %></span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <a href="">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Checkout</h3>
                            <div class="summary-item"><span class="text">Subtotal</span><span class="price">$360</span></div>
                            <div class="summary-item"><span class="text">Discount</span><span class="price">$0</span></div>
                            <div class="summary-item"><span class="text">Shipping</span><span class="price">$0</span></div>
                            <div class="summary-item"><span class="text">Total</span><span class="price">₹ <%= new Intl.NumberFormat('en-IN').format(cart.totalPrice) %></span></div>
                            <button type="button" style="background-color: #D10024; color: white;" class="btn btn-lg btn-block">Checkout</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
   </section>
</div>



<%- include('../../partials/user/footer'); -%>