<%- include('../../partials/user/nav'); -%>

<title>Cart Page</title>

<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Hot Deals</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="/categories/processors">Processors</a></li>
                <li><a href="#">Smartphones</a></li>
                <li><a href="#">Cameras</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->




<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<% if(cart && cart.items.length !== 0){ %>



<div class="page">
    <section class="shopping-cart dark">
        <div class="container">
           <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            <% products.forEach((val, ind) => { %>
                                <div class="product disable-product-listing">
                                    <div class="row ">
                                        <div class="col-md-3 flex-custom">
                                            <img class="img-fluid mx-auto d-block image" style="height: 100px;" src="/uploads/products/<%= val.images[0] %>">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="info">
                                                <div class="row" style="
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        flex-direction: row;
                                                    ">
                                                    <div class="col-md-4 product-name">
                                                        <div class="product-name">
                                                            <a href="/product?id=<%= val._id %>" target="_blank"><%= val.name %></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 quantity">
                                                        <label for="quantity">Quantity:</label>
                                                        <div class="input-number">
                                                            <input class="qty-inpt-count" type="number" min="1" max="5" value="<%= cart.items[ind].quantity %>" name="quantity" disabled>
                                                            <span class="qty-up" data-id="<%= val._id %>">+</span>
                                                            <span class="qty-down" data-id="<%= val._id %>">-</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 price" style="margin-top: -35px;">
                                                        <span>₹ <%= new Intl.NumberFormat('en-IN').format(cart.items[ind].price) %></span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <a data-id="<%= val._id %>" class="cart-delete pointer">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>

                        </div>

                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Checkout</h3>

                            <!-- <div class="summary-item"><span class="text">Subtotal</span><span class="price">₹ <%= new Intl.NumberFormat('en-IN').format(cart.totalPrice)  %></span></div>
                            <div class="summary-item"><span class="text">Discount</span><span class="price">$0</span></div>
                            <div class="summary-item"><span class="text">Shipping</span><span class="price">₹ <%= new Intl.NumberFormat('en-IN').format(shipping)  %></span></div> -->

                            <% if(cart){ %>
                                <div class="summary-item"><span class="text">Total</span><span class="price" id="final-price">₹ <%= new Intl.NumberFormat('en-IN').format(cart.totalPrice - shipping)  %></span></div>
                            <% } %>

                            <a href="/checkout"><button type="button" style="background-color: #D10024; color: white;" class="btn btn-lg btn-block">Checkout</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
</div>

<% }else{ %>

    <div class="container" style="margin-bottom: 100px;">
        <div class="empty-cart-container">
            <div class="empty-cart-message">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                <h2>Your Cart is Empty</h2>
                <p>Looks like you haven't added anything to your cart yet.</p>
                <a href="/" class="btn btn-success">Start Shopping</a>
            </div>
        </div>
    </div>

<% } %>


<!-- Error Popup -->
<div id="popup" class="err-popup hidden"></div>


<!-- Custom Script -->
 <script src="/script/user/cartPage.js"></script>


 <style>
    .empty-cart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        background-color: #f8f9fa;
        border: 2px dashed #ddd;
        border-radius: 10px;
        margin-top: 20px;
    }
    .empty-cart-message {
        text-align: center;
        color: #666;
    }
    .empty-cart-message i {
        font-size: 50px;
        margin-bottom: 10px;
        color: #999;
    }
    .empty-cart-message h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .empty-cart-message p {
        font-size: 16px;
    }
</style>



<%- include('../../partials/user/footer'); -%>

<script src="/script/slick.min.js"></script>
<script src="/script/main.js"></script>