<%- include('../../partials/user/nav'); -%>

<style>
    /* Popup styling */
    #popup-notification {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        border-radius: 5px;
        font-size: 16px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        transition: opacity 0.3s ease;
    }

    #popup-notification i {
        margin-right: 8px;
    }

    .show {
        display: block;
        opacity: 1;
    }
</style>

<title>NexCore</title>

<!--  -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="/categories/processors">Processors</a></li>
                <li><a href="/categories/graphics-card">Graphics Card</a></li>
                <li><a href="/categories/mother-board">Mother Board</a></li>
                <li><a href="/categories/storage">Storage</a></li>
                <li><a href="/categories/processors">Memory</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->




<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="./img/i9_cover.png" alt="Processor Image">
                    </div>
                    <div class="shop-body">
                        <h3>Processor<br>Collection</h3>
                        <a href="/categories/processors" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="./img/rtx4090_cover.png" alt="Graphics Card Image">
                    </div>
                    <div class="shop-body">
                        <h3>Graphics Card<br>Collection</h3>
                        <a href="/categories/graphics-card" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->


            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="./img/motherboar_cover.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Mother Board<br>Collection</h3>
                        <a href="/categories/mother-board" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->



<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>
                    <div class="section-nav">
                        <!-- <ul class="section-tab-nav tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
                            <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
                            <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
                            <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">


                                <!-- product -->
                                <% products.forEach((val) => { %>
                                    <% if(!val.isDeleted){ %>
                                        <% if(val.stock > 0){ %>
                                            <div class="product">
                                                <div class="product-img">
                                                    <img style="padding: 10px;" src="/uploads/products/<%= val.images[0] %>" alt="Product Images">
                                                    <div class="product-label">
                                                    </div>
                                                </div>
                                                <div class="product-body">
                                                    <p class="product-category"><%= val.category_name %></p>
                                                    <h3 class="product-name"><a href="/product?id=<%= val._id %>"><%= val.name.substring(0,42)+"..." %></a></h3>
                                                    <h4 class="product-price"><%= val.discounted_price %> <del class="product-old-price"><%= val.original_price %></del></h4>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="product-btns">
                                                        <button class="add-to-wishlist add-to-wishlist-btn" data-id="<%= val._id %>"><i class="fa-regular fa-heart"></i><span class="tooltipp">add to wishlist</span></button>
                                                        <button class="quick-view">
                                                            <a href="/product?id=<%= val._id %>" target="_blank">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                            <span class="tooltipp">quick view</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="add-to-cart">
                                                    <button  class="add-to-cart-btn" data-id="<%= val._id %>"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                                </div>
                                            
                                            </div>
                                        <% }else{ %>
                                            <div class="col-md-4 col-xs-6">
                                                <div class="product out-of-stock-product">
                                                    <div class="product-img">
                                                        <img src="/uploads/products/<%= val.images[0] %>" alt="Out of stock image">
                                                        <div class="out-of-stock-overlay">
                                                            <p class="out-of-stock-text">Out of Stock</p>
                                                        </div>
                                                    </div>
                                                    <div class="product-body">
                                                        <p class="product-category"><%= val.category_name %></p>
                                                        <h3 class="product-name">
                                                            <a href="/product?id=<%= val._id %>"><%= val.name.substring(0,42) + "..." %></a>
                                                        </h3>
                                                        <h4 class="product-price">
                                                            <%= val.discounted_price %> 
                                                            <del class="product-old-price"><%= val.original_price %></del>
                                                        </h4>
                                                        <div class="product-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="product-btns">
                                                            <button class="add-to-wishlist add-to-wishlist-btn" data-id="<%= val._id %>">
                                                                <i class="fa-regular fa-heart"></i>
                                                                <span class="tooltipp">add to wishlist</span>
                                                            </button>
                                                            <button class="quick-view add-to-wishlist-btn" data-id="<%= val._id %>">
                                                                <i class="fa fa-eye"></i>
                                                                <span class="tooltipp">quick view</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <button class="add-to-cart-btn out-of-stock-btn" disabled>
                                                            <i class="fa fa-ban"></i> Out of Stock
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        <% } %>
                                    <% } %>
                                <% }) %>
                                <!-- /product -->

                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->


<div id="popup-notification"><i class="fas fa-check-circle"></i></div>




<!-- Popup -->
<div id="popup" class="err-popup hidden"></div>


<!-- Custom Js -->
 <script src="/script/user/homePage.js" defer></script>

 
 
 <%- include('../../partials/user/footer'); -%>
 
 <script src="/script/slick.min.js"></script>
 <script src="/script/main.js"></script>