<%- include('../../partials/user/nav'); -%>

    <title>Search</title>

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="#">Hot Deals</a></li>
						<li><a href="#">Categories</a></li>
						<li><a href="/categories/processors">Processors</a></li>
						<li><a href="#">Smartphones</a></li>
						<li><a href="#">Cameras</a></li>
						<li><a href="#">Accessories</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->







        <!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Category</h3>
							<div class="checkbox-filter">
								<% categories.forEach((val, ind) => { %>
									<div class="input-checkbox">
										<input type="checkbox" class="category-check-boxes" value="<%= val.name %>" id="brand-<%= ind %>">
										<label for="brand-<%= ind %>">
											<span></span>
											<%= val.name %>
										</label>
									</div>
								<% }) %>
								
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Price</h3>
							<div class="price-filter">
								<div id="price-slider"></div>
								<div class="input-number price-min" id="price-minfsdf">
									<input id="price-min" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
								<span>-</span>
								<div class="input-number price-max" id="prifce-max">
									<input id="price-max" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->

						
	
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Sort By:
									<select class="input-select" id="itemSortingSelect">
										<option value="0">Featured</option>
										<option value="1">Price: Low to High</option>
                                        <option value="2">Price: High to Low</option>
									</select>
								</label>

									<label>
										Show:
										<select class="input-select" id="itemsPerPageSelect">
											<option value="3">3</option>
											<option value="6" selected>6</option>
											<option value="9">9</option>
											<option value="12">12</option>
										</select>
									</label>

							</div>
					
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">

<% if(products.length !== 0){ %>
				<div id="product-container">
					
                    <% products.forEach((product) => { %>
                        <% if(!product.isDeleted){ %>
                            <!-- product -->

							<div class="col-md-4 col-xs-6 product-divs">
								<div class="product">
									<div class="product-img">
										<img class="prd-img-align" src="/uploads/products/<%= product.images[0] %>" alt="Product Image!!">
										<!-- <div class="product-label">
											<span class="sale">-30%</span>
											<span class="new">NEW</span>
										</div> -->
									</div>
									<div class="product-body">
										<p class="product-category"><%= product.category_name %></p>
										<h3 class="product-name"><a href="/product?id=<%= product._id %>"><%= product.name.substring(0,40)+"..." %></a></h3>
										<h4 class="product-price">₹ <%= new Intl.NumberFormat('en-IN').format(product.discounted_price) %><del class="product-old-price"><%= new Intl.NumberFormat('en-IN').format(product.original_price) %></del></h4>

										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa-regular fa-heart"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="quick-view">
                                                <a href="/product?id=<%= product._id %>" target="_blank">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <span class="tooltipp">quick view</span>
                                            </button>
                                        </div>
									</div>
									<div class="add-to-cart">
                                        <button  class="add-to-cart-btn" data-id="<%= product._id %>"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
								</div>
							</div>
							<!-- /product -->
                        <% } %>
                    <% }) %>
				</div>

<% }else{ %>
	<div class="container">
        <div class="item-not-found">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <h2>Item Not Found</h2>
            <p>Sorry, we couldn't find the item you're looking for.</p>
        </div>
    </div>
<% } %>
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing 20-100 products</span>
							<ul class="store-pagination">
								<li class="active pagenation-btns" style="color: black;">1</li>
								<li class="pagenation-btns"><a>2</a></li>
								<li class="pagenation-btns"><a>3</a></li>
								<li class="pagenation-btns"><a>4</a></li>
								<li class="pagenation-btns"><a><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


<!-- Custom Js -->
<script type="module" src="/script/user/search.js"></script>

<script type="module" src="/script/slick.min-searchModified.js"></script>
<script type="module" src="/script/main-searchModified.js"></script>

<%- include('../../partials/user/footer'); -%>
