<%- include('../../partials/admin/head'); -%>
<title>Offer Dashboard</title>

<style>
  #add-offer-div,
  #edit-offer-div {
    position: fixed;
    top: 0;
    width: 81%;
    margin-top: 90px;
    display: none;
  }
</style>

<%- include('../../partials/admin/nav'); -%>
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card corona-gradient-card">
          <div class="card-body py-0 px-0 px-sm-3 title-div">
            <div class="row align-items-center">
              <div class="col-4 col-sm-3 col-xl-2">
                <img
                  src="/admin_template/assets/images/dashboard/Group126@2x1.png"
                  class="gradient-corona-img img-fluid"
                  alt=""
                />
              </div>
              <div class="col-5 col-sm-7 col-xl-8 p-0 title">
                <h2 class="mb-1 mb-sm-0">Offer Dashboard</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <button id="add-form-btn" type="button" class="btn btn-success btn-rounded btn-fw mb-2">
            + Add Offer
          </button>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>SI.No</th>
                  <th>Offer Title</th>
                  <th>Offer Type</th>
                  <th>Offer</th>
                  <th>Discount</th>
                  <th>Expires</th>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody id="t-body">

                <% offers.forEach((offer, ind) => { %>

                  <tr>
                    <td class="si-no"><%= ind + 1 %></td>
                    <td><%= offer.offer_title %></td>
                    <td><%= offer.offer_type %></td>

                    <td>
                      <%- offer.offer_available.map(item => item).join('<br>') %>
                    </td>

                    <td><%= offer.discount_percentage %>%</td>
                    <td><%= new Date(offer.exp_date).toLocaleDateString('en-GB') %></td>
                    <td>
                      <% if(offer.isDeleted){ %>
                        <button id="action-btn" type="button" value="<%= offer._id %>" class="btn btn-outline-success">Activate</button>
                        
                      <% }else{ %>
                        <button id="action-btn" type="button" value="<%= offer._id %>" class="btn btn-outline-danger ">Deactivate</button>
                        <% } %>
                    </td>
                  </tr>

                <% }) %>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- offer add form -->
    <div class="card" id="add-offer-div">
      <div class="card-body" style="overflow-y: scroll; max-height: 80vh;">
        <h4 class="card-title">Add Offer</h4>
        <form class="forms-sample" id="add-offer-form">
          <div class="form-group">
            <label for="add-offer-code">Offer Title</label>
            <input
              type="text"
              class="form-control"
              id="add-offer-title"
              name="cpCode"
              placeholder="offer title.."
            />
          </div>

          <div class="form-group" id="type-select-div">
            <label for="offer-type">Offer Type</label>
            <select class="form-control" id="add-off-type-input" name="offerType" required>
              <option value="">Select Offer Type</option>
              <option value="Category">Category</option>
              <option value="Products">Products</option>
            </select>
          </div>
          

          <div class="form-group">
            <label for="add-minimum-value">Discount Percentage</label>
            <input
              type="number"
              class="form-control"
              id="add-offer-percentage"
              name="percentage"
              placeholder="Discount Percentage"
            />
          </div>

          <div class="form-group">
            <label for="add-expiration-date">Expiration Date</label>
            <input
              type="date"
              class="form-control"
              id="add-expiration-date"
              name="expDate"
            />
          </div>

          <div class="form-group">
            <p style="color: red" id="create-form-err-message"></p>
          </div>

          <button
            type="submit"
            id="add-offer-submit"
            class="btn btn-primary mr-2"
          >
            Submit
          </button>
          <button type="button" id="add-offer-cancel" class="btn btn-dark">
            Cancel
          </button>
        </form>
      </div>
    </div>
    <!-- offer add form -->
  </div>
</div>


<!-- Custom Js -->
<script src="/script/admin/offer.js" defer></script>

<!-- Cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" defer></script>

<%- include('../../partials/admin/body'); -%>
